body{
	/* background-color: #34675C; */
    background-color: #015106;
    
}
h1{
    font-family: 'Berkshire Swash';
    color:#5FB03F;
    font-size: 70px;
	position: absolute;
	top: 50%;                  
	left: 50%;
    transform: translate(-50%, -50%);
    
}
#imagenComodin{
    width: 30px;
    height:45px;
}
#imgPilaFichas{
    width: 60px;
    position: absolute;
    /* top: 19%;
    left: 11%;
    transform: translate(-50%, -50%); */
    cursor: pointer;
}
#robar{
    width: 60px;
    position: absolute;
    top: 11%;
    left: 10%;
    transform: translate(-50%, -50%);
  
}
#fichasS{
    font-family: 'Berkshire Swash';
    font-size: 20px;
    color:white;
    /* position: absolute;
    top: 9%;
    left: 11%;
    transform: translate(-50%, -50%); */
}

#Arriba{
    position: fixed;
    top: 0;
    left: 0%;
    bottom: 90%;
    right: 0%;

    /* overflow: auto; */
    /* background-color: #13CE66; */
    /* padding: 20px; */
    text-align: center;
}
#Abajo{
    position: fixed;
    top: 90%;
    left: 0%;
    bottom: 0;
    right: 0%;
    
    /* overflow: auto; */
    /* background-color: #13CE66; */
    /* padding: 20px; */
    text-align: center;
}
#Derecha{
    position: fixed;
    top: 10%;
    left: 95%;
    bottom: 10%;
    width: 5%;
    right: 0;

    /* overflow: auto; */
    /* background-color: #13CE66; */
    /* padding: 20px; */
    text-align: center;
}
#Izquierda{
    position: fixed;
    top: 10%;
    left: 0%;
    bottom: 10%;
    width: 5%;
    right: 94%;

    /* background-color: #13CE66; */
    /* padding: 20px; */
    text-align: center;
}
#botonIniciar{
    position: fixed;
    font-family: 'Berkshire Swash';
    font-size: 20px;
    color: black;
    /* top: 85%;
    left: 45%;
    bottom: 0;
    right: 25%; */
    width: 200px;
    height: 50px;
    background-color: #13CE66;
  
    text-align: center;
    position: absolute;
	top: 65%;                  
	left: 50%;
    transform: translate(-50%, -50%);
}

#botonListo{
    
        font-family: 'Berkshire Swash';
        font-size: 20px;
        color: black;
        width: 100px;
        height: 46px;
        background-color: #5FB03F;
        text-align: center;
        position: absolute;
        top: 89%;
        left: 80%;
        transform: translate(-50%, -50%);
    
}

#botonIniciar2{
    position: fixed;
    font-family: 'Berkshire Swash';
    font-size: 20px;
    color: black;
    top: 85%;
    left: 45%;
    bottom: 0;
    right: 25%;
    width: 200px;
    height: 50px;
    background-color: #13CE66;
    /* padding: 20px; */
    text-align: center;
}


.ui.card.fichaL{
    width: 45px;
    height: 56px;
    background-color: #eed09d;
    border: groove;
    border-color: #b19971;
    margin-right: 0px;
    margin-left: 0px;
}

h2.numeroFicha{
    font-family: 'Berkshire Swash';
    text-align: center;
    font-size: xx-large;
}
.ui.card.fichaL.Abajo{
    position: absolute;
    top: -182%;
}
.ui.card.fichaL.Arriba{
    position: absolute;
    top: 113px;
}
.ui.card.fichaL.Izquierda{
    position: absolute;
    top: 42%;
    right: -200%;
}
.ui.card.fichaL.Derecha{
    position: absolute;
    top: 42%;
    right: 200%;
}


.colorrojo{
    color: #FD1519;
    }
    .coloramarillo{
        color:#FF8100;
    }
    .colorazul{
        color:#00A6FF;
    }
    .coloregro{
        color:#47525E;
    }
p{
    font-family: 'Berkshire Swash';
    font-size: x-large;
}

p.textAlertWin{
    color: #015106;
}

 
p.nombreAbajo{
    color: white;
    position: absolute;
    top: -23%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.jugadoractual{
    color:#fbff00 !important; 
}
p.nombreArriba{
    color: white;
    position: absolute;
    top: 123%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p.nombreIzquierda{
    color: white;
    position: absolute;
    top: -4%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p.nombreDerecha{
    color: white;
    position: absolute;
    top: -4%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ui.card.fichaL.misfichas{
    display:inline-block;
    cursor: grab;
    margin: 0px 0px 0px 0px;
    width: 38px;
    height:56px;
    /* transform: translate(-50%, 50%); */
    overflow: auto;
}
#misfichasAbajo.ui.centered.cards{
    display: flex;
    margin-top: 2%;
}
#fichasexternasArriba{
    margin-top: -0.8%;
    cursor: not-allowed;
}
h2.fichaexterna{
    font-family: 'Berkshire Swash';
    text-align: center;
    font-size: xx-large;
}
.ui.card.fichaL.fichaextArriba{
    display:flex;
    width: 38px;
    height:56px;
}
.ui.card.fichaL.fichaextIzquierda{
    transform: rotate(90deg);
    margin-bottom: -31px;
    margin-right: 12px;
    width: 38px;
    cursor: not-allowed;
}
.ui.centered.cards{
    margin-top: 0.2%;
}
.ui.card.fichaL.fichaextDerecha{
    transform: rotate(-90deg);
    margin-bottom: -31px;
    margin-left: 12px;
    width: 38px;
    cursor: not-allowed;
}
.ui.ui.card.fichaL.ui-draggable-dragging{
    cursor: grabbing;
 }
/* Para draggable
#div1, #div2 {
    float: left;
    width: 50px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  } */
  /* .sortable {
    position: absolute;
    border:1px solid #13ce66;
    height:56px;
    width:200px;
    display:inline-block;
    margin-left:20%;
    margin-top: 15%;
    text-align: right;
} */
.sortable{
    /* position: absolute; */
    border:1px solid #13ce66;
    height:56px;
    width:115px;
    text-align: center;
    float: left;
    margin-left:20px;
    margin-top: 20px;
    
}

#sortableGrande {
border:1px solid #13ce66;
 position: absolute;
 top: 15%;
 bottom: 15%;
 left: 15%;
 right: 10%;
 box-sizing: border-box;
 background-clip:content-box;
 float:left;

   
}
/* .sortable.b{
    
    margin-left:20%;
    margin-top: 30%;
    
} */
.bottom {
    position: absolute;
    bottom: 0;
    height: 101px;
    width: 200px;
}
.bottom.second {
    position: absolute;
    bottom: 0;
    height: 101px;
    width: 200px;
}
